*{
    margin:auto;

   scroll-behavior: smooth;
    box-sizing: border-box;

}

header{
   max-width: 1440px;
    height: 698px;
    background-image: url(Assets/Hero-bg.png);
}
.nav-head .inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: bold;
  font-style: normal;
  margin: 50px;
  width: 99px;
  height: 51px;
  color: #4E47FF;
  font-size: 34px;

}
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.nav-head{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 151px;
    margin: 5px 150px;
  
}
.nav-head button{
    width: 135px;
    height: 35px;
    margin: 50px;
    background-color: #4E47FF;
    border-radius: 5px;
    font-size: 1.11rem;
    color: white;
    
}

.nav-head button:hover{
    cursor: pointer;
    width: 138px;
    height: 37px;
    background-color: #9403FD;
    color: antiquewhite;
    transition-duration: 2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.474);
}

.nav-discriptaion{
    width:905px ;
    height: 240px;
    margin: 152px 267.5px;
    
    
}
.nav-discriptaion h1{
    font-size: 55px;
    text-align: center  ;
    font-weight: bold;
    padding: 5px 5px;
    color: rgba(37, 36, 50, 1);
}

.nav-discriptaion button{
    width: 174px;
    height: 45px;
    background-color: #4E47FF;
    color: white;
    border-radius: 5px;
    margin: 50px 0px 365px 365px;
    
}
.nav-discriptaion button:hover{
     width: 178px;
    height: 49px;
    font-size: 1.1rem;
    background-color: #9403FD;
    color:wheat;
    transition-duration: 2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.474);
}



/* Section working here */

.launch-section{
    width: 1140px;
    height: 330px;
    display: flex;
    
    justify-content: space-around;
    margin: 116px 165px;
}
.launch-discriptaion{
    display: block;
    width: 517px;
    height: 203px;
    
    margin-left: 0px;
    
    
}

.launch-titile{
    font-weight: bold;      
    font-size: 35px;
    text-align: left;
    padding: 10px 0px;
}
.launch-sub-titile{
    font-size: 24px;
    text-align: justify;
    color: rgba(37, 36, 50, 0.5);
   
}

.launch-discriptaion button{
    width: 210px;
    height: 33px;
    font-size: 1.1rem;
    background-color: #4E47FF;
    color: white;
    border-radius: 5px;
    margin-top: 55px;
}




.launch-section img{
    width: 420px;
    height: 325px;
    margin-right: 0px;
    border-radius: 30px;
}




/* Product user working start here */



.product-section{
    width: 1140px;
    height: 330px;
    background-color: rgba(78, 71, 255, 0.1);
    display: block;
    border-radius: 20px;
    
}

.product-discription{
    width: 856px;
    height: 80px;
    font-size: 2rem;
    
    display: block;
 
    
}

.product-discription p{
    margin-top: 50px;
    
    text-align: center;
    padding: 35px;
}

.user-section{
    width: 856px;
    height: 130px;
    display: flex;
   
    margin: 50px 142px;
    
}

.userlist h1{
    font-size: 4rem;
    color: #4E47FF;
}
.userlist p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}




/*Feedback working start here  */


.feedback-section{
    width: 1140px;
    height: 330px;
    margin: 72px 175px;
    
}



.feedback-intro p{
    font-size: 2rem;
    text-align: center;
    color: rgba(37, 36, 50, 1);
}
.feedback-discription{
    display: flex;
    margin-top: 50px;
   
    gap: 20px   ;
    justify-content: space-around;
}
.feedback-card{
    background-color: whitesmoke;
    width: 366px;
    height: 240px;
    border: 1px solid #f2eded9c;
    border-radius: 15px;
    padding: 15px;

}

.feedback-card .comment{
    font-size: 1.5rem;
    padding: 5px 0px;
}
.details{
    padding: 5px 0px;
}

.feedback-user{
    display: flex;
    
    margin-top: 40px;

}

.feedback-user img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    
    margin-left: 0px;
    
}

.userName{
    margin-left: -150px;
    row-gap: 0px;
   
}
.userName h3{
    color: rgba(9, 8, 8, 0.512);
}
.userName p{
    color: rgba(0, 0, 0, 0.205);
}



/* tamplate working start here */

.template{
    width: 1140px;
    height: 694px;
    display: block;
    margin: 100px 165px;
    border-radius: 15px;
    background-color: rgba(228, 219, 202, 0.399);
}
.template-datails{
    text-align: center;
    padding: 15px 0px;
}
.template-datails h1{
    font-size: 3rem;
    padding: 5px 0px;
}
.template-datails p{
    color: rgba(0, 0, 0, 0.284); 
    padding: 10px 0px;
    
}

.template-datails button{
    width: 152px;
    height: 42px;
    background-color: #4E47FF;
    
    color: whitesmoke;
    border-radius: 10px;
    border-style: none;
    padding: 10px 0px;
    
}
.template-datails button:hover{
    width: 155px;
    height:45px ;
    background-color: #9503fdd1;
    color: rgba(245, 222, 179, 0.725);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.474);
    cursor: pointer;
    font-size: 1.1rem;
    transition-duration: 2s;
    transition: 2s;
}

.template img{
    width: 840px;
    height: 365px;
    margin: 21px 150PX;
    border-radius: 20px;
}



/* From working here */

.from{
    width: 1140px;
    height: 640px;
    
    margin: 100px 165px;
    display: flex;
}

.from-intro{
    width: 632px;
    height: 230px;
    font-size: 5rem;
}
.contact-from{
    display: flex;
    flex-direction: column;
    gap: 10px   ;
}
.fromTable{
    width: 495px;
    height: 490px;
}
.identification{
    margin-left: 0px;
}
.contact-from input{
    margin-left: 0px;
    width: 495px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    padding: 5px;
    font-size: 1.15rem;
    background-color: rgba(228, 219, 202, 0.399);
    border: rgba(240, 248, 255, 0.455)
}
.contact-from textarea{
    margin-left: 0px;
    width: 495px;
    height: 150px;
    padding: 15px;
    font-size: 1.15rem;
    border-style: none;
    background-color: rgba(228, 219, 202, 0.399);
    border: rgba(240, 248, 255, 0.455)
    
}
.contact-from button{
    margin-left: 0px;
    width: 490px;
    height: 50px;
    border-radius: 10px;
    background-color: #4E47FF;
    font-size: 1.2rem;
    color: white;
    transform: scale(1s);
    margin-top: 5px
}

.contact-from button:hover{
    width: 495px;
    height: 53px;
    border-style: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.666);
    transition: 2s;
    font-size: 1.25rem;
    transition-duration: 2s;
}